*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
 
  --cor-primaria: #4682B4;      
  --cor-secundaria: #00CED1;      
 
  --cor-fundo-principal: #FFFFFF;
  --cor-fundo-secundario: #F5F5F5; 
  --cor-texto-principal: #333333;  
  --cor-texto-secundario: #6C757D; 
  

  --cor-status-sucesso: #28A745;   
  --cor-status-alerta: #FFC107;    
  --cor-status-erro: #DC3545;     
  --cor-status-info: #17A2B8;     
 
  --gradiente-primario: linear-gradient(135deg, var(--cor-primaria) #2c5a7d);
}
body{
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto-principal);

}

img{
  width: 20em;
  height: auto;
  display: block;
  margin: auto;
}

.opcoes{
  background-color:  var(--cor-primaria);
  padding: 1em;
  width: 20em;
  margin: auto;
  border-radius: 12px;
}

button{
  margin: 10px auto;
  display: block;
  padding: 0.8em;
  width: 12em;
  background: var(--cor-secundaria);
  color: var(--cor-texto-principal);
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
}
button:hover{
  background-color: #036468;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

a{
  text-decoration: none;
  width: 2em;
}

.blockProdutos{
   background-color:  var(--cor-primaria);
  padding: 3em;
  width: 30em;
  margin: 15em auto 5em auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  grid-row: 1fr 1fr;
}

.tlCadastro{
  margin: 1em;
  text-align: center;
}

input {
  background-color: #c0bfbf;
  border: none;
  height: 2em;
  border-radius: 4px;
  width: 20em;
  margin-left: auto;
  padding: 10px;
} 

label {
    flex-basis: 120px; 
    text-align: right;; 
    margin-right: 5px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.buttonCadastra{
  margin-top: 3em;
}

.sucesso{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 3em;
}

.erro {
  color: var(--cor-status-erro);
    font-weight: bolder;
  text-align: center;
  margin: 1em 3em 2px 3em;
}


.tableBlock{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10em;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse; 
  padding: 8px;
}

table {
  width: 20em;
}

.containerIcon{
  display: block;
  margin: 2em auto 2em auto;
  width: 2.5em;
  background: var(--cor-secundaria);
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s ease ;
}

.containerIcon:hover{
  background-color: #036468;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

#sku-produto{
  display: block;
  margin: 10em auto 1em auto;
}
#deletarProduto{
  display: block;
  margin: 2em auto 1em auto;

}

.tlDelet{
   margin: 4em auto 1em auto;
  text-align: center;
  
}

.containerResult{
  text-align: center;
  margin: auto;
  
}
.containerResult h2{
  margin: 6em 0 2em 0;
}
.PResult{
  text-align: center;
  color: var(--cor-status-erro);
  font-weight: bolder;
  margin-top: 5em;
  margin-bottom: 5em;
}