<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produtos</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="blockProdutos"> 
        <h1 class="tlCadastro">Cadastro de produtos</h1>
        <form action="/cadastrar-produto" method="post">
            <div class="continerLabel">
                <label>Nome:</label>
                <input type="text" name="nome" placeholder="Digite o nome..." required>
            </div><br>
            
            <div class="continerLabel"> 
                <label>Preço:</label>
                <input type="number" step= 0.1 name="preco" placeholder="Digite o preço..." required>
        </div><br>
           
            <div class="continerLabel">
                <label>Quantidade:</label>
                <input type="number" min="1" step="1" name="quantidade" placeholder="Digite a Quantidade..." required>
            </div>
            <br>

            <div class="continerLabel">
                <label>SKU:</label>
                <input type="text" name="sku" placeholder="Digite o SKU..." required><br>
            </div>

            <button type="submit" class="buttonCadastra">Cadastrar</button>

        </form>
        
        <p th:if="${mensagem}" th:text="${mensagem}" class="sucesso"></p>
        <p th:if="${erro}" th:text="${erro}" class="erro"></p>
    </div>
    <a href="/">
        <div class="containerIcon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
    </a>

</body>
</html>