<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Produtos</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <h1>Consulta Produto</h1>
   
    <div class="gridContainer">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Quantidade</td>
                    <td>Preço</td>
                    <td>Sku</td>
                    <td>Pesquisa</td>
                </tr>
            </thead>
            <tbody>
                  <tr th:each="p : ${produtos}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nome}"></td>
                        <td th:text="${p.preco}"></td>
                        <td th:text="${p.quantidade}"></td>
                        <td th:text="${p.Sku}"></td>
                        <td><button class="Pesquisa"><a th:href="@{/buscaSku(sku=${p.Sku})}" class="link">Pesquisar</a></button></td>
                    </tr>
            </tbody>
        </table>
    </div>      
     <div class="containerConsulta">
         <button class="cadastroBT"><a href="/produto/form" class="link">Cadastrar Produto</a></button>
             <button class="voltar"><a href="/" class="link">Voltar</a></button>
     </div>
</body>
</html>