<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogControl</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <img th:src="@{/img/Logo.png}" alt="Logo LogControl">
    <div class="opcoes"> 
    <a href="/produto/form">
        <button>Cadastrar Produto</button>
    </a>
    <a href="/consulta">
        <button>Consultar Produtos</button>
    </a>
    <a href="/abrirPesquisa">
        <button>Pesquisar Produto</button>
    </a>
    <a href="/deletarProduto">
        <button>Deletar Produto</button>
    </a>
  
</div>
   
</body>
</html>